.inner {
	color: white;
}

.icon {
	font-size: 50px;
	color: white;
}

/* PREVIEW IMAGE */
#image-preview {
	display: none;
	width: 300px;
	margin: 15px auto;
}

div.dt-searchPane div.dataTables_length{
	float: none;
	text-align: center;
}